{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Админка: Завершить создание турнира {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='back-link' href='{{ path("app_admin_tournament", {"tournament": tournament.id}) }}'>НАЗАД</a>
<br><br>
<h4>Доступ к добавлению / редактированию туров</h4>
<br>
<div class='hidden' id='trid'>{{ tournament.id }}</div>
{% for admin in admins %}

		<input {% if admin.access == 1 %} checked='checked' {% endif %} type="checkbox" class="checkbox tournament-access" id="user{{ admin.id }}"/>
		<label for="user{{ admin.id }}">{{ admin.username }}</label><br><br>
{% endfor %}

{% endblock %}