{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Туры {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tours", {"tournament": tournament.id, 'tour': tour}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

{% if access == 3 or (access > 0 and (is_granted('ROLE_TOURNAMENTS') or is_granted('ROLE_TOURS'))) %}

<h4>СПИСОК ДОСТУПНЫХ ТУРОВ</h4>

	{# show flash info #}
	{% include 'flashbug.html.twig' %}

	{% if forecast == 0 %}
		<br>
		Нет доступных туров...
	{% endif %}

	{% for fore in forecast %}
		<div class="show-tours-teams">
		{{ fore.0.tr }}<br>
		{% for f in fore %}
			{{ f.team1 }} - {{ f.team2 }}<br>
		{% endfor %}
		<br>
		<form method='post'>
			<input type='hidden' name='hash' value='{{ fore.0.hash }}'>
			<input type='submit' name='addtours' class='button' value="Добавить">
		</form>		
		</div>
	{% endfor %}

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}