{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Команды {% endblock %}

{% block lowheader %} Команды {% endblock %}

{% block lowbody %}

{{ form_start(form) }}
<h4>ДОБАВИТЬ КОМАНДУ</h4>
{{ form_widget(form.name, {'attr': {'class': 'middle'}}) }}<br>
{{ form_errors(form.name) }}
{{ form_rest(form) }}

<input class='button button-main' type="submit" value="Добавить" />
{{ form_end(form) }}
{# show flash info #}
{% include 'flashbug.html.twig' %}

<br>
{% if teams is not empty %}

	<div class='numbers-area'>
	{% for team in teams %}
		<div><a class='nostyle' href='{{ path('app_admin_team', {'team': team.id}) }}'>{{ team.name }}</a></div>
	{% endfor %}
	</div>

{% endif %}

{% endblock %}