{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Команды {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tournament", {"tournament": tournament.id}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

{% if access == 3 or (access >= 2 and is_granted('ROLE_TOURNAMENTS')) %}

<h4>Команда турнира</h4>
{% if team != 0 %}
	<h5>{{ team.name }}</h5>
{% else %}
	Команда не выбрана...
{% endif %}

<hr>

<h4>ВЫБРАТЬ КОМАНДУ</h4>
{{ form_start(form) }}
{{ form_widget(form.team, {'attr': {'class': 'middle'}}) }}<br>
{{ form_errors(form.team) }}
{{ form_widget(form.save, {'attr': {'class': 'button button-main'}}) }}<br>
{{ form_rest(form) }}

{{ form_end(form) }}

{# show flash info #}
{% include 'flashbug.html.twig' %}

<br>
{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}