{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Футболист {% endblock %}

{% block lowheader %} {{ player.first }} {{ player.second }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_team", {'team': team}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>
{% if player.image is not empty %}
	<img src="/public/images/players/{{ player.image }}">
{% else %}
	<img src="/public/images/interface/noplayer.png">					
{% endif %}
{# {{ form_start(formimage) }}
<i class="fa fa-folder-open-o in-file"></i><span class="in-file-text">Выберите изображение...</span>
<div class="file-style middle">
{{ form_widget(formimage.image, {'attr': {'class': 'middle opacity'}}) }}
</div>
{{ form_errors(formimage.image) }}
<input class='button button-main' type='submit' name='upload_image' value='Загрузить'>
{{ form_end(formimage) }}
<br><br> #}

{{ form_start(form) }}
ИМЯ<br>
{{ form_widget(form.first, {'attr': {'class': 'middle'}}) }}
ФАМИЛИЯ<br>
{{ form_widget(form.second, {'attr': {'class': 'middle'}}) }}
ПОЗИЦИЯ<br>
{{ form_widget(form.position, {'attr': {'class': 'middle'}}) }}
{{ form_errors(form) }}
{{ form_widget(form.save, {'attr': {'class': 'button button-main'}}) }}
{{ form_end(form) }}

{% endblock %}