{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Участники турнира {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tournament", {"tournament": tournament.id}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

{% if access == 3 or (access == 2 and is_granted('ROLE_TOURNAMENTS')) %}
	{# show flash info #}
	{% include 'flashbug.html.twig' %}
<h4>ПОДАЛИ ЗАЯВКИ</h4>
{% if preusers is empty %}
Заявок пока нет...<br>
{% endif %}
{% if tournament.info.schema is defined %}
<span class='info'>(Нажмите на пользователя, чтобы выбрать его)</span>
{% endif %}
<div class='area preusers'>
{% for user in preusers %}
	<div id='u{{ user.user }}' class='preteam'>{{ user.username }}</div>
{% endfor %}
</div>

{% if tournament.info.schema is defined %}
<div id='schema' class='hidden'>{{ tournament.info.schema }}</div>
	{% if tournament.info.schema == 3 %}
		<div id='groups' class='hidden'>{{ tournament.info.usergroups }}</div>	
	{% else %}
		<div id='groups' class='hidden'>0</div>	
	{% endif %}
<h4>ВЫБРАНЫ</h4>

<div class='area tournament-user'></div>

<br>
Выбрано: <span class='allow'></span><br>
Требуется: <span class='all'>{{ tournament.info.users }}</span>
<br><br>
{{ form_start(form) }}
<div class='form-hidden'>{{ form_widget(form.user) }}</div>
<div class='but'>{{ form_widget(form.save, {"attr": {"class": "button button-main"}}) }}</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endif %}

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}