{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Участники турнира {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tournament", {"tournament": tournament.id}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

<h4>УЧАСТНИКИ ТУРНИРА</h4>
<form method='post'>
<div class='users-area'>
{% for user in users %}
	<div><input type='radio' name='inuser' value='{{ user.user }}'>{{ user.username }}</div>
{% endfor %}
</div>
<h4>ЗАМЕНИТЬ</h4>
<select name='newuser' class='middle'>
	<option selected disabled="disabled">Выбрать участника</option>
	{% for newuser in newusers %}
		<option value='{{ newuser.id }}'>{{ newuser.username }}</option>
	{% endfor %}
</select>
	{# show flash info #}
	{% include 'flashbug.html.twig' %}
<input type='submit' class='button button-main' name='replace_user' value='Заменить'>
</form>
{# {% if tournament.info.schema is defined %}
<span class='info'>(Нажмите на пользователя, чтобы выбрать его)</span>
{% endif %}
<div class='area preusers'>
{% for user in preusers %}
	<div id='u{{ user.user }}' class='preteam'>{{ user.username }}</div>
{% endfor %}
</div>

{% if tournament.info.schema is defined %}
<div id='schema' class='hidden'>{{ tournament.info.schema }}</div>
<div id='groupoff' class='hidden'>0</div>
{% if tournament.info.schema == 3 %}
<div id='groups' class='hidden'>{{ tournament.info.usergroups }}</div>	
{% endif %}
<h4>ВЫБРАТЬ</h4>

<div class='area tournament-user'></div>

<br>
Выбрано: <span class='allow'></span><br>
Требуется: <span class='all'>{{ tournament.info.users }}</span>
<br><br>
{{ form_start(form) }}
<div class='form-hidden'>{{ form_widget(form.user) }}</div>
{{ form_widget(form.save, {"attr": {"class": "button button-main"}}) }}
{{ form_rest(form) }}
{{ form_end(form) }}
{% endif %} #}

{% endblock %}