{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Участники турнира {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tournament", {"tournament": tournament.id}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

<h4>УЧАСТНИКИ ТУРНИРА</h4>

{% if access == 3 or (access == 2 and is_granted('ROLE_TOURNAMENTS')) %}
	
<form method='post'>
<div class='users-area'>
{% for user in users %}
	<div><input type='radio' name='inuser' value='{{ user.user }}'>{{ user.username }}</div>
{% endfor %}
</div>
<h4>ЗАМЕНИТЬ</h4>
<select name='newuser' class='middle'>
	<option selected disabled="disabled">Выбрать участника</option>
	{% for newuser in newusers %}
		<option value='{{ newuser.id }}'>{{ newuser.username }}</option>
	{% endfor %}
</select>
	{# show flash info #}
	{% include 'flashbug.html.twig' %}
<input type='submit' class='button button-main' name='replace_user' value='Заменить'>
</form>

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}