{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Добавить команды {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tournament", {"tournament": tournament.id}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

{{ form_start(form) }}
<h4>ДОБАВИТЬ КОМАНДУ</h4>
{{ form_widget(form.name, {'attr': {'class': 'middle'}}) }}<br>
{{ form_errors(form.name) }}
{{ form_rest(form) }}
{% if app.session.flashBag.has('error') %}
	<span class="display-error">
	    {% for msg in app.session.flashBag.get('error') %}
	        {{ msg }}
	    {% endfor %}
	</span>
	<br><br>
{% endif %}

<input class='button button-main' type="submit" value="Добавить" />
{{ form_end(form) }}
<br>
<div class='numbers-area'>
{% for team in teams %}
	<div>{{ team.name }}
			<i type="button" title='Удалить' class="fa fa-close delete-center" data-dismiss="alert" aria-hidden="true" onclick="location.href='/adminpanel/delete/{{ tournament.id }}/team/{{ team.id }}'"></i>
	</div>
{% endfor %}
</div>

{% endblock %}