{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Проставить результаты {% endblock %}

{% block lowheader %} {{ tournament.name }} {% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tours", {"tournament": tournament.id, "tour": tour}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
<br>

{% if access == 3 or (access > 0 and (is_granted('ROLE_TOURNAMENTS') or is_granted('ROLE_TOURS'))) %}

	<form method='post'>
	<table class='show-score'>
	{% for fore in forecast %}
		{% if date(fore.timer) > date() %}
			{% set acc = 1 %}
		{% else %}
			{% set acc = 0 %}
		{% endif %}
		<tr>
			<td>
				{{ utc_to_locale(fore.timer)|date('d.m H:i') }}
			</td>
			<td class='show-team'>
				{{ fore.team1 }}
			</td>
			<td class='show-table-result'>
				{% if fore.result1 is not null %}
					<input type='text' pattern='[0-9]+' class='extra-small inline' disabled="disabled" name='r1[]' value="{{ fore.result1 }}">
				{% else %}
					<input type='hidden' name='id[]' value='{{ fore.id }}'>
					<input type='text' pattern='[0-9]+' class='extra-small inline' name='r1[]'>
				{% endif %}
			</td>
			<td class='show-table-result'>
				{% if fore.result2 is not null %}
					<input type='text' pattern='[0-9]+' class='extra-small inline' disabled="disabled" name='r2[]' value="{{ fore.result2 }}">
				{% else %}
					<input type='text' pattern='[0-9]+' class='extra-small inline' name='r2[]'>
				{% endif %}
			</td>
			<td class='show-team'>
				{{ fore.team2 }}
			</td>			
	{% endfor %}
	</table>
	<br>
	{% if tourstatus != 2 %}
	<input type='checkbox' name='fore_end' value='1'> Окончательно рассчитать тур<br><br>
	<input type='submit' class='button button-main' name='set_fore' value='Отправить'>
	{% endif %}
	</form>

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}
