{% extends 'base.html.twig' %}

{% block title %} Пользователи {% endblock %}

{% block header %} Админка {% endblock %}

{% block content %}
<ul class='admin-menu'>
	<li><a class='nostyle' href='{{ path('app_admin_users') }}'>Пользователи</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_guestbook') }}'>Штаб</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_content') }}'>Контент</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_upload') }}'>Загрузка</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_numbers') }}'>Номера</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_nach') }}'>Нахи</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_achives') }}'>Нашивки</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_champions') }}'>Чемпионы</a></li>
	<li><a class='nostyle' href='{{ path('app_admin_tournaments') }}'>Турниры</a></li>
</ul>

	<h3>{% block lowheader %}

	{% endblock %}</h3>

	{% block lowbody %}

	{% endblock %}

{% endblock %}