	<div class="users-container">

		<div class="user-block" id="user-block-image">
				{% if user.image is not null %}
					<img src="/public/images/users/{{ user.image }}">
				{% else %}
					<img src="/public/images/interface/no_photo.png"><br>	
				{% endif %}
		</div>

		<div class="user-block">
			<div class='h1'>{{ user.username }}</div>
			<ul>
				<li><i class='fa fa-fix fa-calendar'></i> {{ user.created|date("d.m.Y") }}</li>
				<li><i class='fa fa-fix fa-clock-o'></i> Активность: {{ replace_date(activity) }}</li>
				{% if app.user.id is defined and app.user.id == user.id %}
	    		<li><i class='fa fa-fix fa-at'></i> {{ user.email }}</li>
	    		<li><i class='fa fa-fix fa-pencil'></i> <a class="link-black" href='{{ path('fos_user_change_password') }}' class='gray'>Сменить пароль</a></li>				
	    		<li><i class='fa fa-fix fa-sliders'></i> <a class="link-black" href='{{ path('app_user_settings') }}' class='gray'>Настройки</a></li>
	    		{% endif %}
		    </ul>
		</div>

		{% if number > 0 %}
			<div class="user-block block-shirt">
				{# <p>ИГРОВОЙ НОМЕР</p> #}
				<div class='shirt'>
					<div class='shirt-numero'>{{ set_number(number)|raw }}</div>
					<img src='/public/images/interface/shirt.jpg'>
				</div>
			</div>
		{% endif %}

	</div>

	{% if user.signature is not null %}
		<div class='signature'>{{ user.signature }}</div>
	{% endif %}

{% if champions != 0 %}
<br>
<br>
<div>
	{% for champion in champions %}
	<img title="{{ champion.description }}" class='profile-cup' src='/public/images/custom/cup/{{ champion.image }}'>
	{% endfor %}
	<div class='cup-board'></div>
	{% for champion in champions %}
		<p class='champion-list'><i class='fa fa-futbol-o'></i> {{ champion.description }}</p>
	{% endfor %}
</div>
{% endif %}

{% if tournaments is not empty or games is not empty %}
<div class='profile-header'>SPORTIVO</div>
{% endif %}
<div class='tr-html'>
{% if tournaments is not empty %}
	<div class='tr-body'>
	<div class='tr-header'>УЧАСТНИК ТУРНИРОВ</div>
	{% for tournament in tournaments %}
		<div class='tr-line'><a class='nostyle' href='{{ path('app_tournament_show', {'id': tournament.id}) }}'>{{ tournament.name }}</a></div>
	{% endfor %}
	</div>
{% endif %}

{% if games is not empty %}
	<div class='tr-body'>
	<div class='tr-header'>ПОСЛЕДНИЕ МАТЧИ</div>
	{% for game in games %}
		{% set settour = game.tour~' ТУР' %}
		{% if game.off is not null %}
			{% if game.off == 1 %}
				{% set settour = "ФИНАЛ" %}
			{% elseif game.off == 2 %}
				{% set settour = "1/2 ФИНАЛA" %}
			{% elseif game.off == 4 %}
				{% set settour = "1/4 ФИНАЛA" %}
			{% elseif game.off == 8 %}
				{% set settour = "1/8 ФИНАЛA" %}
			{% elseif game.off == 16 %}
				{% set settour = "1/16 ФИНАЛA" %}
			{% elseif game.off == 32 %}
				{% set settour = "1/32 ФИНАЛA" %}
			{% elseif game.off == 64 %}
				{% set settour = "1/64 ФИНАЛA" %}
			{% elseif game.off == 128 %}
				{% set settour = "1/128 ФИНАЛA" %}					
			{% else %}
				{% set settour = "" %}
			{% endif %}
		{% endif %}
		<div class='tr-line'><a class='nostyle' href='{{ path('app_tournament_showgame', {'id': game.id}) }}'><span class='gray'>{{ game.name }}. {{ settour }}.</span> {{ game.username1 }} {{ game.result1 }}-{{ game.result2}} {{ game.username2 }}</a></div>
	{% endfor %}
	</div>
{% endif %}
</div>

<div class='profile-header'>COMUNICAZIONE</div>
<div class='tr-html'>
	<div class='tr-body body30'>
	<div class='tr-header'>РЕЙТИНГ</div>
		<div class='tr-line'>
			ОБЩИЙ
			<span class='float-right'>
				{% if rate.for_me_all_sum == 0 %}
					<span class='gray'>{{ rate.for_me_all_sum }}</span>
				{% elseif rate.for_me_all_sum > 0 %}
					<span class='green'>+{{ rate.for_me_all_sum }}</span>
				{% elseif rate.for_me_all_sum < 0 %}
					<span class='red'>{{ rate.for_me_all_sum }}</span>
				{% endif %}
			</span>
		</div>
		<div class='tr-line'>
			Плюсы
			<span class='float-right'>
				{% if rate.up_for_me_sum != 0 %}
					<span class='green'>+{{ rate.up_for_me_sum }}</span>
				{% else %}
					-
				{% endif %}
			</span>
		</div>
		<div class='tr-line'>
			Минусы
			<span class='float-right'>
				{% if rate.down_for_me_sum != 0 %}
					<span class='red'>-{{ rate.down_for_me_sum }}</span>
				{% else %}
					-
				{% endif %}
			</span>
		</div>
	</div>

	{% if rate.up_for_me|length > 0 %}
	<div class='tr-body body30'>
	<div class='tr-header'>МНЕ ПЛЮСУЮТ</div>
		{% for up_for_me in rate.up_for_me %}
			{% if loop.index <= 10 %}
			<div class='tr-line'>
			<a class='nostyle' href='{{ path("app_user_show", {"id_user": up_for_me.user}) }}'>{{ up_for_me.username }}</a>
				<span class='float-right'>
					<span class='green'>+{{ up_for_me.cnt }}</span>
				</span>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}

	{% if rate.down_for_me|length > 0 %}
	<div class='tr-body body30'>
	<div class='tr-header'>МНЕ МИНУСУЮТ</div>
		{% for down_for_me in rate.down_for_me %}
			{% if loop.index <= 10 %}
			<div class='tr-line'>
			<a class='nostyle' href='{{ path("app_user_show", {"id_user": down_for_me.user}) }}'>{{ down_for_me.username }}</a>
				<span class='float-right'>
					<span class='red'>-{{ down_for_me.cnt }}</span>
				</span>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}	

	<div class='tr-body body30'>
	<div class='tr-header'>Я ПОСТАВИЛ</div>
		<div class='tr-line'>
			ВСЕГО
			<span class='float-right'>
				{{ rate.my_all_sum }}
			</span>
		</div>
		<div class='tr-line'>
			Плюсов
			<span class='float-right'>
				{% if rate.my_up_sum != 0 %}
					<span class='green'>+{{ rate.my_up_sum }}</span>
				{% else %}
					-
				{% endif %}
			</span>
		</div>
		<div class='tr-line'>
			Минусов
			<span class='float-right'>
				{% if rate.my_down_sum != 0 %}
					<span class='red'>-{{ rate.my_down_sum }}</span>
				{% else %}
					-
				{% endif %}
			</span>
		</div>
	</div>

	{% if rate.my_up|length > 0 %}
	<div class='tr-body body30'>
	<div class='tr-header'>Я ПЛЮСУЮ</div>
		{% for my_up in rate.my_up %}
			{% if loop.index <= 10 %}
			<div class='tr-line'>
			<a class='nostyle' href='{{ path("app_user_show", {"id_user": my_up.author }) }}'>{{ my_up.username }}</a>
				<span class='float-right'>
					<span class='green'>+{{ my_up.cnt }}</span>
				</span>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}

	{% if rate.my_down|length > 0 %}
	<div class='tr-body body30'>
	<div class='tr-header'>Я МИНУСУЮ</div>
		{% for my_down in rate.my_down %}
			{% if loop.index <= 10 %}
			<div class='tr-line'>
			<a class='nostyle' href='{{ path("app_user_show", {"id_user": my_down.author}) }}'>{{ my_down.username }}</a>
				<span class='float-right'>
					<span class='red'>-{{ my_down.cnt }}</span>
				</span>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}		

	{% if messages != 0 %}
	<div class='tr-body body30'>
	<div class='tr-header'>МОИ СООБЩЕНИЯ</div>
			<div class='tr-line'>
				ВСЕГО <a href='{{ path('app_user_messages', {'user': user.id}) }}'>(просмотр)</a>
				<span class='float-right'>
					<span>{{ messages }}</span>
				</span>
			</div>
	</div>
	{% endif %}

</div>


