	<div class="users-container">

		<div class="user-block" id="user-block-image">
				{% if user.image is not null %}
					<img src="/public/images/users/{{ user.image }}">
				{% else %}
					<img src="/public/images/interface/no_photo.png"><br>	
				{% endif %}
		</div>

		<div class="user-block">
			<div class='h1'>{{ user.username }}</div>
			<ul>
				<li><i class='fa fa-fix fa-calendar'></i> {{ user.created|date("d.m.Y") }}</li>
				{% if app.user.id is defined and app.user.id == user.id %}
	    		<li><i class='fa fa-fix fa-at'></i> {{ user.email }}</li>
	    		<li><i class='fa fa-fix fa-pencil'></i> <a class="link-black" href='{{ path('fos_user_change_password') }}' class='gray'>Сменить пароль</a></li>				
	    		<li><i class='fa fa-fix fa-gear'></i> <a class="link-black" href='{{ path('app_user_settings') }}' class='gray'>Настройки</a></li>
	    		{% endif %}
		    </ul>
		</div>

		{% if number > 0 %}
			<div class="user-block">
				{# <p>ИГРОВОЙ НОМЕР</p> #}
				<div class='shirt'>
					<div class='shirt-numero'>{{ set_number(number)|raw }}</div>
					<img src='/public/images/interface/shirt.jpg'>
				</div>
			</div>
		{% endif %}

	</div>


{# {% if champions != 0 %}
<br>
ПОБЕДЫ
<br>
<div>
	{% for champion in champions %}
	<img title="{{ champion.description }}" class='profile-cup' src='/public/images/custom/cup/{{ champion.image }}'>
	{% endfor %}
	<div class='cup-board'></div>
	{% for champion in champions %}
	<p class='text-warning'>- {{ champion.description }}</p>
	{% endfor %}
</div>
{% endif %} #}