{% extends 'base.html.twig' %}

{% block title %} {% if tr is defined %} {{ tournament.name }} {% else %} Что-то пошло не так... {% endif %} {% endblock %}

{% block header %} 

		{% if tournament.image is not null %}
		 	<img class='tournament-img-header' src='/public/images/custom/logo/{{ tournament.image }}'>
	 	{% else %}
		 	<img class='tournament-img-header' src='/public/images/interface/default_logo.png'>
		{% endif %}
		{{ tournament.name }}

{% endblock %}

{% block content %}

	<a class='link-back' href='{{ path("app_tournament_show", {'id': tournament.id, 'tour': tour}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
		<br>

	<form method='post'>
	<table class='show-score'>
	<div class='ifscore'>{% if how > 0 %} Прогноз внесен  {% endif %}</div>
	{% for fore in forecast %}
	{% if fore.added is null or (fore.added == 1 and drawstep is defined and drawstep == 3) %}
		{% if date(fore.timer) > date() %}
			{% set acc = 1 %}
		{% else %}
			{% set acc = 0 %}
		{% endif %}
		{% set timedm = fore.timer %}
		{% set timehi = fore.timer %}
		<tr>
			<td>
				{{ utc_to_locale(timehi)|date('d.m H:i') }}				
			</td>
			<td class='show-team'>
				{{ fore.team1 }}
			</td>
			<td class='show-table-result'>
				{% if acc == 0 %}
					<input disabled="disabled" type='text' pattern='[0-9]' maxlength="1" class='extra-small inline' name='r1[]' value="{% if preset[fore.id].result1 is defined %}{{ preset[fore.id].result1 }}{% endif %}">
				{% else %}
					<input type='hidden' name='id[]' value='{{ fore.id }}'>
					<input type='text' pattern='[0-9]' maxlength="1" class='extra-small inline' name='r1[]' value="{% if preset[fore.id].result1 is defined %}{{ preset[fore.id].result1 }}{% endif %}">
				{% endif %}

			</td>
			<td class='show-table-result'>
				{% if acc == 0 %}
					<input disabled="disabled" type='text' pattern='[0-9]' maxlength="1" class='extra-small inline' name='r2[]' value="{% if preset[fore.id].result2 is defined %}{{ preset[fore.id].result2 }}{% endif %}">
				{% else %}
					<input type='text' pattern='[0-9]' maxlength="1" class='extra-small inline' name='r2[]' value="{% if preset[fore.id].result2 is defined %}{{ preset[fore.id].result2 }}{% endif %}">
				{% endif %}
			</td>
			<td class='show-team'>
				{{ fore.team2 }}
			</td>
	{% endif %}
	{% endfor %}
	</table>
	<br>
	<input type='hidden' name='tr' value='{{ tournament.id }}'>
	<input type='hidden' name='tour' value='{{ tour }}'>
	<input type='hidden' name='playsign' value='{{ playsign }}'>
	<input type='submit' class='button button-main' name='set_score' value='Отправить'>
	</form>

	{% if playsign == 1 %}
			<br><hr>
		{% if game_bonus != '' %}
			<strong>Ваш бонус-матч: {{ game_bonus }}</strong>			
		{% elseif date(firsttime) > date() %}
			Выберите бонус-матч. В случае ничейного результата, баллы за бонус-матч будут удвоенны для определения победителя.<br>
			Выбор доступен до {{ utc_to_locale(firsttime)|date('d.m.Y H:i') }}
			{{ form_start(form_bonus) }}
			{{ form_widget(form_bonus.games, {'attr': {'class': 'middle'}}) }}
			<input type='hidden' name='tr' value='{{ tournament.id }}'>
			<input type='hidden' name='tour' value='{{ tour }}'>
			<input type='hidden' name='playsign' value='{{ playsign }}'>
			{{ form_widget(form_bonus.save, {'attr': {'class': 'button button-main'}}) }}
			{{ form_end(form_bonus) }}
		{% else %}
			<strong>Вы не выбрали бонус-матч</strong>
		{% endif %}
	{% endif %}

{% endblock %}