{% extends 'base.html.twig' %}

{% block title %} {% if tr is defined %} {{ tournament.name }} {% else %} Что-то пошло не так... {% endif %} {% endblock %}

{% block header %} 

		{% if tournament.image is not null %}
		 	<img class='tournament-img-header' src='/public/images/custom/logo/{{ tournament.image }}'>
	 	{% else %}
		 	<img class='tournament-img-header' src='/public/images/interface/default_logo.png'>
		{% endif %}
		{{ tournament.name }}

{% endblock %}

{% block content %}

	<a class='link-back' href='{{ path("app_tournament_show", {'id': tournament.id, 'tour': tour}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
		<br>

	<div class='show_image'>
		<img src='/public/images/scored/goal.png'> - Гол (Вратарь, Защитник - 6; Полузащитник - 5; Нападающий - 4)<br>
		<img src='/public/images/scored/assist.png'> - Ассист (Вратарь, Защитник - 6; Нападающий - 5; Полузащитник - 4)<br>
		<img src='/public/images/scored/yellow.png'> - Желтая карточка (Защитник, Полузащитник - 3; Нападающий, Вратарь - 4)<br>
		<img src='/public/images/scored/red.png'> - Красная карточка (Вратарь, Защитник, Полузащитник, Нападающий - 8)<br>
		<img src='/public/images/scored/null.png'> - Угадано количество пропущенных голов вратарем - 3 балла<br><br>
	</div>
	<div class='activehow'>Действия: <span id='howscored'>0</span>/7</div>
	<br>

<form method='post'>
{% for player in forecast %}

	{% if player.position == 1 %}
		{% set pos = 'Вратарь' %}
		{% set cl = 'orange' %}
	{% elseif player.position == 2 %}
		{% set pos = 'Защитник' %}
		{% set cl = 'green' %}
	{% elseif player.position == 3 %}
		{% set pos = 'Полузащитник' %}
		{% set cl = 'blue' %}
	{% elseif player.position == 4 %}
		{% set pos = 'Нападающий' %}
		{% set cl = 'red' %}
	{% endif %}

	<div class='player'>
		<div style='border-left: solid 1px {{ cl }}' class='player-image'>
			{% if player.image is not empty %}
				<img src="/public/images/players/{{ player.image }}">
			{% else %}
				<img src="/public/images/interface/noplayer.png">					
			{% endif %}
		</div>
		<div class='player-info player-scored-info'>
			<span class='player-second'>{{ player.second }}</span><br>
			<span class='pos'>{{ pos }}</span>
		</div>
		{% if player.position == 1 %}
		<div class='player-keeper player-first'>
			<img src='/public/images/scored/emptykeeper.png'>
			<input type='hidden' name='first[]' value='emptykeeper'>
		</div>
		{% else %}
		<div class='player-scored player-first'>
			<img src='/public/images/scored/empty.png'>
			<input type='hidden' name='first[]' value='empty'>
		</div>
		{% endif %}
		<div class='player-scored player-second'>
			<img src='/public/images/scored/empty.png'>
			<input type='hidden' name='second[]' value='empty'>
		</div>
		<div class='player-scored player-three'>
			<img src='/public/images/scored/empty.png'>
			<input type='hidden' name='three[]' value='empty'>
		</div>
	</div>
	<input type='hidden' name='player[]' value='{{ player.player }}'>

{% endfor %}
	<br>
	<input type='hidden' name='tr' value='{{ tournament.id }}'>
	<input type='hidden' name='tour' value='{{ tour }}'>	
	<input type='submit' class='button button-main' name='set_forescored' value='Отправить'>	
</form>

{% endblock %}