{% extends 'base.html.twig' %}

{% block title %} {% if tr is defined %} {{ tournament.name }} {% else %} Что-то пошло не так... {% endif %} {% endblock %}

{% block header %} 

		{% if tournament.image is not null %}
		 	<img class='tournament-img-header' src='/public/images/custom/logo/{{ tournament.image }}'>
	 	{% else %}
		 	<img class='tournament-img-header' src='/public/images/interface/default_logo.png'>
		{% endif %}
		{{ tournament.name }}

{% endblock %}

{% block content %}
	<a class='link-back' href='{{ path("app_tournament_show", {'id': tournament.id, 'tour': tour}) }}'><i class='fa fa-arrow-left'></i> НАЗАД</a>
		<br>

	{% if date(fore.0.timer) > date() %}
		{% set accesclass = 'player-scored' %}
	{% else %}
		{% set accesclass = 'player-ascored' %}
	{% endif %}

	<div class='show_image'>
		<img src='/public/images/scored/goal.png'> - Гол (Вратарь, Защитник - 6; Полузащитник - 5; Нападающий - 4)<br>
		<img src='/public/images/scored/assist.png'> - Ассист (Вратарь, Защитник - 6; Нападающий - 5; Полузащитник - 4)<br>
		<img src='/public/images/scored/yellow.png'> - Желтая карточка (Защитник, Полузащитник - 3; Нападающий, Вратарь - 4)<br>
		<img src='/public/images/scored/red.png'> - Красная карточка (Вратарь, Защитник, Полузащитник, Нападающий - 8)<br>
		<img src='/public/images/scored/null.png'> - Угадано количество пропущенных голов вратарем - 3 балла<br><br>
	</div>
	<h3>{{ fore.0.team1 }}
		{% if fore.0.result1 is null %} 
			-
		{% else %}
			{{ fore.0.result1 }}:{{ fore.0.result2 }}
		{% endif %}
		{{ fore.0.team2 }}
	</h3>
	<div class='activehow'>Действия: <span id='howscored'>{{ how }}</span>/7</div>
	<br>


<form method='post'>
	<table class='table-showgame'>
{% for player in forecast %}

	{% if player.position == 1 %}
		{% set pos = 'Вратарь' %}
		{% set cl = 'orange' %}
	{% elseif player.position == 2 %}
		{% set pos = 'Защитник' %}
		{% set cl = 'green' %}
	{% elseif player.position == 3 %}
		{% set pos = 'Полузащитник' %}
		{% set cl = 'blue' %}
	{% elseif player.position == 4 %}
		{% set pos = 'Нападающий' %}
		{% set cl = 'red' %}
	{% endif %}

	{% if preset[player.player].first is defined %}
		{% set presetfirst = preset[player.player].first %}
	{% else %}
		{% if player.position == 1 %}
			{% set presetfirst = 'emptykeeper' %}
		{% else %}
			{% set presetfirst = 'empty' %}
		{% endif %}
	{% endif %}

	{% if preset[player.player].second is defined %}
		{% set presetsecond = preset[player.player].second %}
	{% else %}
		{% set presetsecond = 'empty' %}
	{% endif %}

	{% if preset[player.player].three is defined %}
		{% set presetthree = preset[player.player].three %}
	{% else %}
		{% set presetthree = 'empty' %}					
	{% endif %}


	<tr>
		<td>
	<div class='player'>
		<div style='border-left: solid 1px {{ cl }}' class='player-image'>
			{% if player.image is not empty %}
				<img src="/public/images/players/{{ player.image }}">
			{% else %}
				<img src="/public/images/interface/noplayer.png">					
			{% endif %}
		</div>
		<div class='player-info player-scored-info'>
			<span class='player-first'>{{ player.first }}</span><br><span class='player-second'>{{ player.second }}</span><br>
			<span class='pos'>{{ pos }}</span>
		</div>
	</div>
	</td>
	<td>
		<div class='player'>
		{% if player.position == 1 %}
		<div class='player-keeper player-first'>
			<img src='/public/images/scored/{{ presetfirst }}.png'>
			<input type='hidden' name='first[]' value='{{ presetfirst }}'>
		</div>
		{% else %}
		<div class='{{ accesclass }} player-first'>
			<img src='/public/images/scored/{{ presetfirst }}.png'>
			<input type='hidden' name='first[]' value='{{ presetfirst }}'>
		</div>
		{% endif %}
		<div class='{{ accesclass }} player-second'>
			<img src='/public/images/scored/{{ presetsecond }}.png'>
			<input type='hidden' name='second[]' value='{{ presetsecond }}'>
		</div>
		<div class='{{ accesclass }} player-three'>
			<img src='/public/images/scored/{{ presetthree }}.png'>
			<input type='hidden' name='three[]' value='{{ presetthree }}'>
		</div>
	<input type='hidden' name='player[]' value='{{ player.player }}'>
</div>
	</td>
</tr>
{% endfor %}
</table>

	<br>
	{% if date(fore.0.timer) > date() %}	
	<input type='hidden' name='tr' value='{{ tournament.id }}'>
	<input type='hidden' name='tour' value='{{ tour }}'>	
	<input type='submit' class='button button-main' name='set_forescored' value='Отправить'>	
	{% endif %}
</form>

{% endblock %}