{% extends 'base.html.twig' %}

{% block title %} {{ tournament.name }} {% endblock %}

{% block header %} 
	{% if tournament.image is not null %}
	 	<img class='tournament-img-header' src='/public/images/custom/logo/{{ tournament.image }}'>
 	{% else %}
	 	<img class='tournament-img-header' src='/public/images/interface/default_logo.png'>
	{% endif %}
	{{ tournament.name }}
{% endblock %}

{% block content %}
<a class='link-back' href='{{ path("app_tournament_show", {'id': tournament.id, 'tour': tour }) }}'><i class='fa fa-arrow-left'></i> К СПИСКУ ТУРНИРОВ</a>
<br>

<div id='tournumber'>{{ calendar.0.tour }} ТУР</div><br>

{% if forecast == 0 %}
	<h4>Тур не начался</h4>
{% else %}

<table class='showgame'>
	<tr>
		<td><a class='nostyle' href='{{ path('app_user_show', {'id': calendar.0.user1 }) }}'>{{ calendar.0.login1 }}</a></td>
		<td>{{ summ.0 }}</td>
		<td>{{ summ.1 }}</td>
		<td><a class='nostyle' href='{{ path('app_user_show', {'id': calendar.0.user2 }) }}'>{{ calendar.0.login2 }}</a></td>
		<td>Матчи</td>
	</tr>
{% for fore in forecast %}
	<tr>
		{% if date(fore.timer) < date() %}
			<td>
				{% if preset1[fore.id].result1 is defined and preset1[fore.id].result2 is defined %}
				{{ preset1[fore.id].result1 }}-{{ preset1[fore.id].result2 }}
				{% endif %}
			</td>
			<td>
				{% if preset1[fore.id].ball is defined %} 
					{{ preset1[fore.id].ball }} 
				{% else %} 
					{% if fore.result1 is not null and fore.result2 is not null %}
						0
					{% endif %}
				{% endif %}
			</td>			
			<td>
				{% if preset2[fore.id].ball is defined %} 
					{{ preset2[fore.id].ball }} 
				{% else %}
					{% if fore.result1 is not null and fore.result2 is not null %}
						0
					{% endif %}
				{% endif %}
			</td>			
			<td>
				{% if preset2[fore.id].result1 is defined and preset2[fore.id].result2 is defined %}
					{{ preset2[fore.id].result1 }}-{{ preset2[fore.id].result2 }}
				{% endif %}
			</td>			
		{% else %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		{% endif %}
		<td>
			{{ fore.team1 }} - {{ fore.team2 }} {% if fore.result1 is not null and fore.result2 is not null %} - {{ fore.result1 }}:{{ fore.result2 }} {% endif %}
		</td>		
	</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}