{% extends 'base.html.twig' %}

{% block title %} {{ tournament.name }} {% endblock %}

{% block header %} 
	{% if tournament.image is not null %}
	 	<img class='tournament-img-header' src='/public/images/custom/logo/{{ tournament.image }}'>
 	{% else %}
	 	<img class='tournament-img-header' src='/public/images/interface/default_logo.png'>
	{% endif %}
	{{ tournament.name }}
{% endblock %}

{% block content %}
<a class='link-back' href='{{ path("app_tournament_list") }}'><i class='fa fa-arrow-left'></i> К СПИСКУ ТУРНИРОВ</a>
<br>

<div class='tourlist'>
{# tours list #}
{% for i in range(1, calendar) %}
	{% if tour == i %}
		<div class='tourlist-active'>{{ i }}</div>
	{% else %}
		<div><a href="{{ path("app_tournament_show", {"id": tournament.id, "tour": i}) }}">{{ i }}</a></div>	
	{% endif %}
{% endfor %}
</div>

<div class='h3' id='tournumber'>{{ tour }} ТУР</div>
<div class="tourstatus">
	{% if tourstatus == 0 %}
		<div class='statustour orange'><i class='fa fa-circle'></i> ТУР НЕ НАЧАЛСЯ</div>
	{% elseif tourstatus == 1 %}
		<div class='statustour green'><i class='fa fa-circle'></i> АКТИВНЫЙ ТУР</div>
	{% elseif tourstatus == 2 %}
		<div class='statustour'><i class='fa fa-circle'></i> ТУР ЗАВЕРШЕН</div>
	{% endif %}
</div>
<table class='schedule'>
{% for game in showtour %}
	<tr>
		<td><a class='nostyle hoverlinkteam' href='{{ path('app_user_show', {'id': game.uid1 }) }}'>{{ game.user1 }}</a></td>
		<td><a class='showtour' href='{{ path('app_tournament_showgame', {'id': game.id }) }}'>-</a></td>
		<td><a class='nostyle hoverlinkteam' href='{{ path('app_user_show', {'id': game.uid2 }) }}'>{{ game.user2 }}</a></td>
	</tr>
{% endfor %}
</table>
<br>
{% if member == 1 and tourstatus == 1 %}
	<form method='post' action='{{ path('app_tournament_tourset') }}'>
		<input type='hidden' name='tr' value='{{ tournament.id }}'>
		<input type='hidden' name='tour' value='{{ tour }}'>
		<input type='submit' class='button button-access' value='Сделать прогноз'>
	</form>
{% endif %}

{% endblock %}