{% extends 'base.html.twig' %}

{% block title %} {{ tournament.name }} {% endblock %}

{% block header %} 
	{% if tournament.image is not null %}
	 	<img class='tournament-img-header' src='/public/images/custom/logo/{{ tournament.image }}'>
 	{% else %}
	 	<img class='tournament-img-header' src='/public/images/interface/default_logo.png'>
	{% endif %}
	{{ tournament.name }}
{% endblock %}

{% block content %}
<a class='link-back' href='{{ path("app_tournament_list") }}'><i class='fa fa-arrow-left'></i> К СПИСКУ ТУРНИРОВ</a>
<br>

{# tours list #}
<div class='tourlist'>
{% for i in calendar %}
	{% if i.off == 0 %}
		{% if tour == i.tour %}
			<div class='tourlist-active'>{{ i.tour }}</div>
		{% else %}
			<div><a href="{{ path("app_tournament_show", {"id": tournament.id, "tour": i.tour}) }}">{{ i.tour }}</a></div>	
		{% endif %}
	{% else %}
		{% if tour == i.tour %}
			<div class='tourlist-active'>{{ playoff[i.off] }}</div>
		{% else %}
			<div><a href="{{ path("app_tournament_show", {"id": tournament.id, "tour": i.tour}) }}">{{ playoff[i.off] }}</a></div>	
		{% endif %}

	{% endif %}
{% endfor %}
</div>

<div class='h3' id='tournumber'>{{ printtour.name }}</div>
<div class="tourstatus">
	{% if tourstatus == 0 %}
		<div class='statustour orange'><i class='fa fa-circle'></i> ТУР НЕ НАЧАЛСЯ</div>
	{% elseif tourstatus == 1 %}
		<div class='statustour green'><i class='fa fa-circle'></i> АКТИВНЫЙ ТУР</div>
	{% elseif tourstatus == 2 %}
		<div class='statustour gray'><i class='fa fa-circle'></i> ТУР ЗАВЕРШЕН</div>
	{% endif %}
</div>

{% if showtour|length > 1 %}
	{% set x = 1 %}
{% else %}
	{% set x = 0 %}
{% endif %}

{% for show in showtour %}
	{% if showtour|length > 1 %}
		<div class='groups_name'>{{ groups[show.0.groups] }}</div>
	{% endif %}
	<table class='schedule'>
	{% for game in show %}
		<tr>
			<td>
				{% if game.uid1 != 0 %}
				<a class='nostyle hoverlinkteam' href='{{ path('app_user_show', {'id': game.uid1 }) }}'>{{ game.user1 }}</a>
				{% else %}
					unknown
				{% endif %}
			</td>
			<td>
				<a class='ashowtour' href='{{ path('app_tournament_showgame', {'id': game.id }) }}'>
					{% if fore.started == 1 %}
						{% if fore.members[game.uid1] is defined %}
							{{ fore.members[game.uid1] }}
						{% else %}
							0
						{% endif %}
					{% else %}
						{% if tourstatus != 0 %}
							{% if fore.members[game.uid1] is defined %}
								<i class='fa fa-check s08'></i>
							{% else %}
								<i class='fa fa-times fa-color s08'></i>
							{% endif %}
						{% endif %}
					{% endif %}
				</a>
			</td>
			<td>
				<a class='ashowtour' href='{{ path('app_tournament_showgame', {'id': game.id }) }}'>
					{% if fore.started == 1 %}
						{% if fore.members[game.uid2] is defined %}
							{{ fore.members[game.uid2] }}
						{% else %}
							0
						{% endif %}
					{% else %}
						{% if tourstatus != 0 %}
							{% if fore.members[game.uid2] is defined %}
								<i class='fa fa-check s08'></i>
							{% else %}
								<i class='fa fa-times fa-color s08'></i>						
							{% endif %}
						{% endif %}
					{% endif %}
				</a>
			</td>		
			<td>
				{% if game.uid2 != 0 %}
				<a class='nostyle hoverlinkteam' href='{{ path('app_user_show', {'id': game.uid2 }) }}'>{{ game.user2 }}</a>
				{% else %}
					unknown
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>


{% if table[x] is not empty and offstatus == 0 %}

<div class='classifica-body'>
	<div class='table-info'>Турнирная таблица</div>
	<table class='classifica'>
		<tr>
			<td>#</td>
			<td></td>
			<td>КОМАНДА</td>
			<td>И</td>
			<td>В</td>
			<td>Н</td>
			<td>П</td>
			<td class='border-balls' colspan="3">МЯЧИ</td>
			<td>О</td>
		</tr>
	{% set i = 1 %}
	{% for team in table[x] %}
		<tr>
			<td>{{ i }}</td>
			<td>
				{% if team.image is not null %}
					<img class='classifica-img' src="/public/images/users/{{ team.image }}">
				{% else %}
					<img class='classifica-img' src="/public/images/interface/no_photo.png"><br>	
				{% endif %}				
			</td>
			<td><a class='nostyle' href='{{ path('app_user_show', {'id': team.user}) }}'>{{ team.username }}</a></td>
			<td>{{ team.game }}</td>
			<td>{{ team.w }}</td>
			<td>{{ team.n }}</td>
			<td>{{ team.l }}</td>
			<td class='classifica-balls'>{{ team.bw }}</td>
			<td>-</td>
			<td class='classifica-balls'>{{ team.bl }}</td>
			<td>{{ team.score }}</td>
		</tr>
		{% set i = i + 1 %}
	{% endfor %}
	</table>
</div>
{% endif %}
		{% set x = x + 1 %}


{% endfor %}


{% if strickers is not empty and offstatus == 0 %}

{% if x > 1 %}
<br><br>
{% endif %}
<div class='classifica-body'>
	{% set i = 1 %}
	<div class='table-info'>Список бомбардиров</div>
	<table class='classifica classifica-striker'>
		<tr>
			<td>#</td>
			<td></td>
			<td>КОМАНДА</td>
			<td>МЯЧИ</td>
		</tr>
	{% for stricker in strickers %}
		<tr>
			<td>{{ i }}</td>
			<td>
				{% if stricker.image is not null %}
					<img class='classifica-img' src="/public/images/users/{{ stricker.image }}">
				{% else %}
					<img class='classifica-img' src="/public/images/interface/no_photo.png"><br>	
				{% endif %}	
			</td>
			<td>{{ stricker.username }}</td>
			<td class='classifica-striker'>{{ stricker.bw }}</td>
		</tr>
		{% set i = i + 1 %}
	{% endfor %}
	</table>
</div>
{% endif %}

	{% if member == 1 and tourstatus == 1 %}
		<br>
		<form method='post' action='{{ path('app_tournament_tourset') }}'>
			<input type='hidden' name='tr' value='{{ tournament.id }}'>
			<input type='hidden' name='tour' value='{{ tour }}'>
			<input type='submit' class='button button-access' value='Сделать прогноз'>
		</form>
		<br>
	{% endif %}

{% endblock %}