{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Нашивки {% endblock %}

{% block lowheader %} Нашивки {% endblock %}

{% block lowbody %}

	{{ form_start(form) }}
	<br>
	{{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'Пользователь'}} ) }}
	{{ form_errors(form.user) }}
	<br>
	{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Причина добавления нашивки'}} ) }}
	{{ form_errors(form.description) }}		
	<br>
	<div>
	{% for img in form.image %}
	<span class='block-inline'>{{ form_widget(img) }} <img class='adm-img' src="/public/images/custom/achive/{{ img.vars['label'] }}"></span>
	{% endfor %}
	</div>

	{% if app.session.flashBag.has('error') %}
		<span class="display-error">
	        {% for msg in app.session.flashBag.get('error') %}
	            {{ msg }}
	        {% endfor %}
	    </span>
        <br><br>
    {% endif %}

	{{ form_rest(form) }}
	<br>
	<div>
	    <input class='button button-main' type="submit" value="Отправить" />
	</div>	
	{{ form_end(form) }}
	<br>
	<table class='table table-condensed'>
	{% for achive in achives %}
		<tr>
			<td><img class='adm-img' src="/public/images/custom/achive/{{ achive.image }}"> </td>
			<td><strong>{{ achive.username }}</strong></td>
			<td>{{ achive.description }} 
				<i title='Удалить' type="button" class="fa fa-close delete-center" data-dismiss="alert" aria-hidden="true" onclick="confirm('Действительно удалить файл?') ? location.href='/adminpanel/delete/Achive/{{ achive.id }}' : false "></i></td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}