{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Админка: Чемпионы {% endblock %}

{% block lowheader %} Чемпионы {% endblock %}

{% block lowbody %}

	{% if is_granted('ROLE_STUFF') %}

	{{ form_start(form) }}
	<br>
	{{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'Пользователь'}} ) }}
	{{ form_errors(form.user) }}
	<br>
	{{ form_widget(form.year, {'attr': {'class': 'form-control', 'placeholder': 'Год окончания турнира'}} ) }}
	{{ form_errors(form.year) }}
	<br>	
	{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Название турнира'}} ) }}
	{{ form_errors(form.description) }}		
	<br>
	<div>
	{% for img in form.image %}
	<span class='block-inline'>{{ form_widget(img) }} <img class='adm-img' src="/public/images/custom/cup/{{ img.vars['label'] }}"></span>
	{% endfor %}
	</div>

	{% if app.session.flashBag.has('error') %}
		<span class="display-error">
	        {% for msg in app.session.flashBag.get('error') %}
	            {{ msg }}
	        {% endfor %}
	    </span>
        <br><br>
    {% endif %}

	{{ form_rest(form) }}
	<br>
	<div>
	    <input class='button button-main' type="submit" value="Отправить" />
	</div>	
	{{ form_end(form) }}
	<br>
	<table class='table table-condensed'>
	{% for champion in champions %}
		<tr>
			<td><img class='adm-img' src="/public/images/custom/cup/{{ champion.image }}"> </td>
			<td>{{ champion.year }}</td>
			<td><strong>{{ champion.username }}</strong></td>
			<td>{{ champion.description }} <i title='Удалить' type="button" class="fa fa-close delete-center" data-dismiss="alert" aria-hidden="true" onclick="confirm('Действительно удалить?') ? location.href='/adminpanel/delete/Champion/{{ champion.id }}' : false">
			</i></td>
		</tr>
	{% endfor %}
	</table>

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}	

{% endblock %}