{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Хранилище {% endblock %}

{% block lowheader %} Хранилище {% endblock %}

{% block lowbody %}
	{{ form_start(form) }}
	<i class="fa fa-folder-open-o in-file"></i><span class="in-file-text">Выберите изображение...</span>
	<div class="file-style middle">
		{{ form_widget(form.image, {'attr': {'class': 'middle opacity'}}) }}
	</div>	
	{{ form_errors(form.image) }}
	<input class='upload_image button button-main' type='submit' name='submit_image_user' value='Загрузить'>
	{{ form_end(form) }}

	<h4>Изображения</h4>

	{% for image in images %}
		<div>
			<div class='rep-image'>
				<a target="_blank" href="http://juvepro.ru/public/images/upload/{{ image.image }}"><img src='/public/images/upload/{{ image.image }}'></a>
			</div>
			<div>
				<input class='select-text' type='text' value='http://juvepro.ru/public/images/upload/{{ image.image }}'>
			</div>
		</div>
	{% endfor %}

<br>
{# page navigation #}
{% set page_navigation = '/adminpanel/files' %}
{% include 'pagenavigation.html.twig' %}	

{% endblock %}