{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Нахи {% endblock %}

{% block lowheader %} Нахи {% endblock %}

{% block lowbody %}

{% if is_granted('ROLE_STUFF') %}

	{{ form_start(form, {'method': 'post', 'attr': {'class': 'file_display_none'} }) }}
	{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Заголовок'}} ) }}
	{{ form_errors(form.title) }}
	{% set adminbb = true %}
	{% include 'bbcode.html.twig' %}
	{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Описание'}} ) }}
	{{ form_errors(form.description) }}		
	{{ form_widget(form.number, {'attr': {'class': 'form-control', 'placeholder': 'Номер сообщения'}} ) }}
	{{ form_errors(form.number) }}			
	{{ form_rest(form) }}
	<div>
	    <input class='button button-main' type="submit" value="Отправить" />
	</div>	
	{{ form_end(form) }}

	{% if app.session.flashBag.has('error') %}
	    <p class="alert my-alert">
	        {% for msg in app.session.flashBag.get('error') %}
	        {{ msg }}
	    {% endfor %}
	    </p>
	{% endif %}
	<br>
	{% for nach in nachs %}
		<div class="panel">
		  <h2>{{ nach.number }} <span class='glyphicon glyphicon-list-alt'></span> {{ nach.title }}
		  	<i title='Удалить' type="button" class="fa fa-close delete-center" data-dismiss="alert" aria-hidden="true" onclick="confirm('Действительно удалить?') ? location.href='/adminpanel/delete/Nach/{{ nach.id }}' : false"></i></h2>
		  <div class="justify">
			{{ replace_text(adminreplace_text(nach.description))|raw|nl2br }}
		  </div>
		</div>
	{% endfor %}

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}