{% trans_default_domain 'FOSUserBundle' %}

<a class='link-back' href='{{ path('fos_user_user_show') }}'><i class='fa fa-arrow-left'></i> Назад в профиль</a>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password middle' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="button button-main" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
