{% extends 'base.html.twig' %}

{% block jscripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src='{{ asset('/public/js/graph.js') }}'></script>    
{% endblock %}


{% block title %}График{% endblock %}

{% block header %}График{% endblock %}

{% block content %} 
<a class='link-back' href='{{ path("app_tournament_show", {'id': tournament.id}) }}'><i class='fa fa-arrow-left'></i> НАЗАД К ТУРНИРУ</a>
<br>
<div class='hidden' id='tr'>{{ tournament.id }}</div>
<div class='hidden' id='tool1'>{{ first }}</div>
<div class='hidden' id='tool2'>{{ second }}</div>
<div class='hidden' id='tool3'>{{ three }}</div>
<div class='hidden' id='trname'>{{ tournament.name }}</div>
<form method='post'>
<select class='small inline' name='user1'>
	<option value='0'>Команда</option>
	{% for user in users %}
		{% if user.user == first %}
			<option selected="selected" value='{{ user.user }}'>{{ user.username }}</option>
		{% else %}
			<option value='{{ user.user }}'>{{ user.username }}</option>
		{% endif %}
	{% endfor %}
</select>
<select class='small inline' name='user2'>
	<option value='0'>Команда</option>
	{% for user in users %}
		{% if user.user == second %}
			<option selected="selected" value='{{ user.user }}'>{{ user.username }}</option>
		{% else %}
			<option value='{{ user.user }}'>{{ user.username }}</option>
		{% endif %}
	{% endfor %}
</select>
<select class='small inline' name='user3'>
	<option value='0'>Команда</option>
	{% for user in users %}
		{% if user.user == three %}
			<option selected="selected" value='{{ user.user }}'>{{ user.username }}</option>
		{% else %}
			<option value='{{ user.user }}'>{{ user.username }}</option>
		{% endif %}
	{% endfor %}
</select>
<br>
<input class='button button-main' type='submit' name='show_games' value='Показать'>
</form>
<br>
<div id='errorsview'></div>
<div id='bodytools'></div>

{% endblock %}