{% extends 'base.html.twig' %}

{% block title %} Гостевая книга {% endblock %}

{% block header %} Гостевая книга {% endblock %}

{% block content %}

{# attention start #}
{% if attention.description != "" %}
{# <div class='alert alert-warning'> #}
	{{ adminreplace_text(replace_text(attention.description))|raw|nl2br }}
{# </div> #}
<br><br>
{% endif %}
	{# attention end #}

{% if is_granted('ROLE_VERIFIED_USER') %}
	{% set adminbb = 0 %}	
	{% include 'bbcode.html.twig' %}
	{{ form_start(form, {'action': path('app_guestbook_show')}) }}
	{{ form_widget(form.message) }}

	{# show flash info #}
	{% include 'flashbug.html.twig' %}

	{{ form_widget(form.save, {'attr': {'class': 'button button-main'}}) }}
	{{ form_end(form) }}
{% endif %}

<br>


{# orders #}
{% set order_rate = 1 %}
{% set order_quote = 1 %}
{% set order_delete = 1 %}

{# page navigation #}
{% set page_navigation = '/guestbook' %}
{% include 'pagenavigation.html.twig' %}


{% if notification_guestbook is defined and notification_guestbook|length > 0 %}
	{% set post_link = (count - notification_guestbook|length) + 1 %}
	<div class='message-anchor'>
	<a class='book-links' href='{{ path('app_guestbook_post', {'post': post_link}) }}'><i class='fa fa-anchor'></i> Перейти к непрочитанным ({{ notification_guestbook|length }})</a>
	</div>
{% endif %}

{# base guestbook body for all realize guestbook #}
{% include 'AppGuestbookBundle:Guestbook:_guestbook.html.twig' %}

{# page navigation #}
{% include 'pagenavigation.html.twig' %}

{% endblock %}