{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Штаб {% endblock %}

{% block lowheader %} Штаб {% endblock %}

{% block lowbody %}

{% if is_granted('ROLE_ADMINBOOK') %}
	{% set adminbb = 0 %}
	{% include 'bbcode.html.twig' %}
	{{ form_start(form, {'action': path('app_admin_guestbook')}) }}
	{{ form_widget(form.message) }}
	
	{# show flash info #}
	{% include 'flashbug.html.twig' %}
	
	{{ form_widget(form.save, {'attr': {'class': 'button button-main'}}) }}
	{{ form_end(form) }}

<br>


{# orders #}
{% set order_rate = 0 %}
{% set order_quote = 1 %}
{% set order_delete = 0 %}

{# page navigation #}
{% set page_navigation = '/adminpanel/adminbook' %}
{% include 'pagenavigation.html.twig' %}

{% if notification_adminbook is defined and notification_adminbook|length > 0 %}
	{% set post_link = (count - notification_adminbook|length) + 1 %}
	<div class='message-anchor'>
	<a href='{{ path('app_guestbook_post', {'post': post_link}) }}'><i class='fa fa-anchor'></i> Перейти к непрочитанным ({{ notification_adminbook|length }})</a>
	</div>
{% endif %}

{# base guestbook body for all realize guestbook #}
{% include 'AppGuestbookBundle:Guestbook:_guestbook.html.twig' %}

{% include 'pagenavigation.html.twig' %}

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}
{% endblock %}
